<h1>New</h1>
<%= form_for (@flt),:url=>{:action=>'create',:id=>@hou.id} do |flat|%>

    <b>No of rooms:</b>
    <%= flat.text_field :rooms%>
    <br/>
    <b>Flat-color.</b>
    <%=flat.text_field :colour%><br/>
    <%= flat.submit%>
<%end%>

<%= link_to 'house_index', house_index_path%>