<h1>Listing</h1>


<table border="1" align="center">
 <tr>
  <th>House_name</th>
  <th>House_no.</th>
   <th>Flats</th>
  <th></th>
  <th></th>
  <th></th>
 </tr> 
<% @hou.each do |house|%>
 <tr>
    <td><%=house.h_name%></td>
    <td><%=house.h_no %></td>
    <td><%=link_to 'flats', :controller=>'flat',:action=>'index',:id=>house.id%>
    <td><%= link_to 'show', house %></td>
    <td><%= link_to 'edit', edit_house_path(house) %></td>
    <td><%= link_to 'destroy',house,:confirm=>'Are you sure?',method: :delete%>

  </tr>
 <% end %>
</table>


<%= link_to'new',:controller=>'house',:action=>'new',:id=>@col.id %><br/>
<%= link_to 'colony_index',colony_index_path%>