<h1>new</h1>

<%=form_for @fml, :url=>{:action=>'create',:flat_id=>@fml.flat_id} do |fml|%>
    <%#= hidden_field_tag 'flat_id', @fml.flat_id %>
<b>Members</b>
    <%= fml.text_field :members%> </br>
<b>Cast</b>
    <%= fml.select(:cast,["Hindu","Muslim","Sikh","Christians"],:prompt=>'select',:class=>'space-button quote_request_form') %>
 <br/>
    <div class="field">
    <b><%= fml.label :Family_Income%></b>
    <br/>
    <%= fml.radio_button :salary, "low" %> 10000 to 20000 <br/>
    <%= fml.radio_button :salary, "medium" %> 21000 to 30000<br/>
    <%= fml.radio_button :salary, "high" %> Above 300000
     </div>
    <%= fml.submit%>

<%end%>